@charset "ISO-8859-1";

body {
	font-family:Abel;
	margin: 0px;
	padding: 0px;
}
#header{
	padding:5px;
	margin: 0 auto;
	background-color:#212F3D;
	display: flex;
  	flex-flow: row wrap;
  	justify-content: space-between;
}
.logo{
	height: 70px;
	padding:10px;
}
#content{
	padding:5px;
	width:100%;
	background-color:#F4F6F7;	
}
.div{
	margin:10px auto;
	padding:5px 20px;
	max-width:900px;
	border-radius:3px;
	background-color:white;
	border:1px solid #CACFD2;
}
.div-head{
	border-bottom:1px solid #CACFD2;
}
.div-body{
	padding:5px;
}
#footer{
	color:black;
	text-align:center;
	padding:10px;
	font-size:14px;
}

@media only screen and (max-width: 900px){
#header{
  	justify-content: center;
}
}